﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class="d-block w-100" src="~/images/Carousel1.png" alt="First slide">
        </div>
        <div class="item">
            <img class="d-block w-100" src="~/images/Carousel2.png" alt="Second slide">
        </div>
        <div class="item">
            <img class="d-block w-100" src="~/images/Carousel3.png" alt="Third slide">
        </div>
        <div class="item">
            <img class="d-block w-100" src="~/images/Carousel3.png" alt="Fourth slide">
        </div>
        <div class="item">
            <img class="d-block w-100" src="~/images/Carousel3.png" alt="Fifth slide">
        </div>
        <div class="item">
            <img class="d-block w-100" src="~/images/Carousel3.png" alt="Six slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="column">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/200/400/">
    </div>
    <div class="column">
        <img src="http://lorempixel.com/200/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/400/400/">
        <img src="http://lorempixel.com/200/200/">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/400/400/">
        <img src="http://lorempixel.com/400/400/">
    </div>
    <div class="column">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/200/400/">
    </div>
    <div class="column">
        <img src="http://lorempixel.com/200/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/400/200/">
        <img src="http://lorempixel.com/400/400/">
        <img src="http://lorempixel.com/400/200/">
    </div>
</div>

<style>
    .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
